/*--------------------------------------------------------------
-- Primary header mobile --
--------------------------------------------------------------*/

.primary-header__mobile {
	@include flex( $align: center, $direction: column );
	@include hidden();
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 100;
	width: 100%;
	height: 100%;
	transition-duration: $transition_duration;
	background-color: $dark_background;

	@include from( 500 ) {
		justify-content: center;
	}

	&.active {
		left: 0;
		@include visible();
	}

	&Container {
		padding: 20px 20px 50px;
		width: 100%;
		overflow: scroll;

		.admin-bar & {
			padding-top: 66px;
		}

		@include from( 400 ) {
			padding: 50px;

			.admin-bar & {
				padding-top: 96px;
			}
		}

		@include from( 500 ) {
			padding: 100px 25%;

			.admin-bar & {
				padding-top: 146px;
			}
		}

		@include from( 783 ) {
			.admin-bar & {
				padding-top: 132px;
			}
		}
	}

	&HideBtn {
		@include hidden();
		padding: 0 10px 10px 0;
		margin-bottom: 18px;
		font-size: 14px;
		background-color: transparent;

		@include from( 500 ) {
			margin-bottom: 26px;
		}

		.active & {
			@include visible();
			left: 0;
			transition-delay: 1s;

			@include from( 500 ) {
				left: 25px;
			}
		}
	}

	&Nav__container {
		width: 100%;
		transform: translateX( -30px );
		transition-duration: $transition_duration;
		@include hidden();

		.active & {
			@include visible();
			transform: none;
			transition-delay: 0.5s;
		}
	}

	&Nav__navItem {
		@include flex( $wrap: wrap, $align: center );
		margin: 0;

		&:first-child > a {
			padding-top: 0;
		}

		&:last-child > a {
			padding-bottom: 0;
			border-bottom: none;
		}		
	}

	&Nav__navLink {
		padding: 10px 0;
		text-transform: uppercase;
		display: block;
		width: 100%;
		word-break: break-word;
		color: lighten( $dark_background, 50% );
		border-bottom: 1px solid lighten( $dark_background, 3% );

		&:hover {
			color: #ffffff;
		}

		.primary-header__mobileNav__navItem--active > & {
			color: #ffffff;
		}

		@include from( 500 ) {
			font-size: 1.15rem;
		}
	}

	&Nav__btn {
		text-align: right;
		height: 100%;
		padding: 5px 0;
		width: 30px;
	}
}
