/*--------------------------------------------------------------
-- Primary header desktop --
--------------------------------------------------------------*/

.primary-header__desktop {
	padding: 30px 0;

	&Container {
		@include flex( $justify: space-between, $wrap: wrap );
	}

	&ShowBtn {
		background-color: transparent;
		padding: 0;
		margin: 0;

		@include hover() {
			background-color: transparent;
		}

		@include from( 500 ) {
			display: none;
		}
	}

	&ShowBtnIcon {
		@include flex( $align: center );
		font-size: 16px;
	}
}
