/*--------------------------------------------------------------
-- Primary header welcome --
--------------------------------------------------------------*/

.primary-header__welcome {
	display: flex;
	position: relative;
	padding: 50px 0 10px;
	margin-top: 20px;
	width: 100%;
	text-align: center;

	@include from(800) {
		text-align: left;
	}

	&ContentContainer {
		@include from( 600 ) {
			max-width: 750px;
			position: relative;
			z-index: 2;
		}
	}

	&Heading {
		font-size: 2rem;
		margin: -15px 0 30px;
		line-height: 1.3;
		font-weight: 800;
		color: #ffffff;

		@include from( 600 ) {
			font-size: 2.5rem;
			line-height: 1.2;
			margin-bottom: 50px;
		}

		@include from( 800 ) {
			max-width: 650px;
			font-size: 3rem;
		}

		span {
			color: #fcd952;
			text-decoration: underline;
		}
	}

	&Description {
		font-size: 1.1rem;
		position: relative;
		margin: 0 0 40px;
		color: lighten( $dark_background, 50% );

		@include from( 600 ) {
			font-size: 1.2rem;
			margin-bottom: 60px;
		}

		@include from(800) {
			max-width: 600px;
		}
	}

	&Link {
		padding: 17px 24px 16px;
		font-size: 0.85rem;
	}

	&ImgContainer svg {
		width: 1000px;
		pointer-events: none;
		z-index: 1;
		display: none;

		@include from( 800 ) {
			@include bottom_right( -150px, -650px );
			display: block;
		}

		@include from(850) {
			right: -600px;
		}

		@include from(900) {
			right: -550px;
		}

		@include from(950) {
			right: -500px;
		}

		@include from(1000) {
			right: -450px;
		}

		@include from(1050) {
			right: -400px;
		}
	}
}
  