/*--------------------------------------------------------------
-- Primary header identity --
--------------------------------------------------------------*/

.primary-header__identity {
	text-align: center;

	&Link {
		display: block;
	}

	&Logo {
		margin: 0;
		font: normal 500 1.2rem $content_font_family;
		text-transform: lowercase;
		color: #ffffff;
	}
}
