/*--------------------------------------------------------------
-- Primary header --
--------------------------------------------------------------*/

.primary-header {
	position: relative;
	background-color: $dark_background;

	&__bottomBlob {
		transform: rotate(180deg);
		width: 100%;
		height: 30px;
		fill: $dark_background;
		display: block;
		background-color: #ffffff;
		z-index: -1;
	}
}
