/*--------------------------------------------------------------
-- Primary header desktop nav --
--------------------------------------------------------------*/

.primary-header__desktopNav {
	display: none;
	position: relative;
	z-index: 1;

	@include from( 500 ) {
		display: block;
	}

	&__list {
		@include flex( $wrap: wrap );
		margin: 0;
	}

	&__navItem {
		display: flex;
		position: relative;
		margin: 0;
		max-width: 350px;
		word-break: break-word;

		&:last-child .primary-header__desktopNav__navLink {
			padding-right: 0;
			margin-right: 0;

			&:before {
				display: none;
			}
		}

		&--parent > .primary-header__desktopNav__navLink {
			position: relative;

			&:after {
				content: '';
				@include bottom_left( -4px );
				width: 0;
				height: 1px;
				transition-duration: $transition_duration;
				opacity: 0.2;
			}
		}
	}

	&__navLink {
		@include flex( $align: center );
		font-weight: 500;
		padding: 0 0 0 15px;
		margin-right: 15px;
		font-size: 0.95rem;
		position: relative;
		color: lighten( $dark_background, 50% );

		&:before {
			content: '';
			@include right_center( -15px );
			background-color: lighten( $dark_background, 3% );
			width: 1px;
			height: 16px;
		}

		&:hover {
			color: #ffffff;
		}

		.primary-header__desktopNav__navItem--active & {
			color: #ffffff;
		}

		.primary-header__desktopNav__navItem--parent & {
			padding-right: 30px;
		}
	}
}
