/*--------------------------------------------------------------
-- Footer form --
--------------------------------------------------------------*/

.footer__form {
	@include from( 800 ) {
		width: 50%;
		padding-left: 20px;
	}

	.wpcf7 {
		@include from( 800 ) {
			// padding-left: 300px;
		}

		@include from( 1000 ) {
			// padding-left: 500px;
		}
	}

	.wpcf7-form {
		position: relative;
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 20px;
	}

	.wpcf7-form-control-wrap input,
	.wpcf7-form-control-wrap textarea {
		background-color: #ffffff;
		border: none;
		border-radius: 5px;
		display: block;
		font-size: 14px;
		padding: 15px;

		&.wpcf7-validates-as-required.wpcf7-not-valid {
			border: 2px solid #fcd955;
		}
	}

	.wpcf7-form-controls-wraper {
		@include between_from( 600, 799, 900 ) {
			display: flex;
			justify-content: space-between;

			.wpcf7-form-control-wrap {
				width: calc( 50% - 10px );
			}
		}
	}

	.wpcf7-submit {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	.wpcf7 .ajax-loader {
		@include center_center();
    background-image: url( img/spinner.gif );
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
	}

	.wpcf7-not-valid-tip {
		font-size: 14px;
		color: #fcd955;
		font-weight: 400;
	}

	.wpcf7-validation-errors,
	.wpcf7-mail-sent-ok {
		border-color: #fcd955;
		color: #fcd955;
		margin: 20px 0 0;
		padding: 6px 10px;
		border-radius: 5px;
		font-size: 14px;
		text-align: center;
	}

	.wpcf7-mail-sent-ok {
		border-color: #54c1b0;
		color: #54c1b0;
	}
}
