/*--------------------------------------------------------------
-- Footer back to top button --
--------------------------------------------------------------*/

.footer__backToTop {
	position: fixed;
	bottom: 20px;
	right: -100px;
	font-size: 11px;
	width: 40px;
	height: 40px;
	padding: 0;
	z-index: 100;
	@include flex( $align: center, $justify: center );

	&:before {
		font-family: $font_family_awesome;
	}

	&--is-visible {
		right: 20px;
	}
}
