/*--------------------------------------------------------------
-- Footer --
--------------------------------------------------------------*/

.footer {
	&__topBlob {
		fill: $dark_background;
		display: block;
		width: 100%;
		height: 200px;
	}

	&__outerWrapper {
		background-color: $dark_background;
		padding: 20px 0 60px;

		@include from( 800 ) {
			padding-top: 0;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__people {
		display: none;

		@include from( 800 ) {
			position: absolute;
			top: -180px;
			left: -300px;
			width: 730px;
			display: block;
			pointer-events: none;
		}

		@include from( 900 ) {
			top: -400px;
			width: 830px;
		}

		@include from( 1050 ) {
			top: -450px;
			width: 880px;
			left: -220px;
		}
	}

	&__copyright {
		display: block;
		text-align: center;
		font-size: 12px;
		margin-top: 25px;
		color: lighten( $dark_background, 50% );

		a {
			text-decoration: underline;
			margin-left: 30px;
			color: lighten( $theme_color, 10% );
		}
	}
}
