/*--------------------------------------------------------------
-- Footer contact --
--------------------------------------------------------------*/

.footer {
	&__contactWrapper {
		@include from( 800 ) {
			@include flex( $justify: space-between, $align: flex-end );
		}
	}

	&__contact {
		margin-bottom: 34px;
		text-align: center;

		@include from( 800 ) {
			padding-right: 20px;
			width: 50%;
			text-align: right;
			margin-bottom: 0;
		}
	}

	&__contactHeading {
		color: #ffffff;
		margin: 0;
		font-size: 2rem;
	}

	&__contactDescription {
		color: lighten( $dark_background, 50% );
		margin: 17px 0 25px;
	}

	&__contactDetails {
		color: #ffffff;
		font-size: 14px;

		@include from( 600 ) {
			@include flex( $justify: center );
		}

		@include from( 800 ) {
			display: block;
		}

		a {
			text-decoration: underline;
			color: lighten( $theme_color, 10% );
		}
	}

	&__contactDetail {
		margin: 0 15px;
		display: block;

		@include from( 800 ) {
			margin: 0;
		}
	}
}