/*--------------------------------------------------------------
-- Footer nav --
--------------------------------------------------------------*/

.footer {
	&__nav {
		@include flex( $justify: center );
		margin-top: 40px;
		padding-top: 34px;
		border-top: 1px solid lighten( $dark_background, 3% );
	}

	&__navList {
		@include flex( $wrap: wrap, $justify: center );
		margin: 0;
	}

	&__navItem {
		display: flex;
		position: relative;
		margin: 0;
		max-width: 350px;
		word-break: break-word;

		&:last-child .footer__navLink:before {
			display: none;
		}

		&--parent > .footer__navLink {
			position: relative;

			&:after {
				content: '';
				@include bottom_left( -4px );
				width: 0;
				height: 1px;
				transition-duration: $transition_duration;
				opacity: 0.2;
			}
		}
	}

	&__navLink {
		@include flex( $align: center );
		font-weight: 500;
		padding: 0 0 0 15px;
		margin-right: 15px;
		font-size: 0.95rem;
		position: relative;
		color: lighten( $dark_background, 50% );

		&:before {
			content: '';
			@include right_center( -15px );
			background-color: lighten( $dark_background, 3% );
			width: 1px;
			height: 16px;
		}

		&:hover {
			color: #ffffff;
		}

		.footer__navItem--active & {
			color: #ffffff;
		}

		.footer__navItem--parent & {
			padding-right: 30px;
		}
	}
}
