/*--------------------------------------------------------------
-- Front page about -- 
--------------------------------------------------------------*/

.front-page-about {
	text-align: center;
	position: relative;
	padding: 75px 0 0;
	overflow: hidden;

	&__topBlob,
	&__bottomBlob {
		display: block;
		width: 100%;
		height: 200px;
		fill: #FCD953;
	}

	&__middleBlob {
		position: absolute;
		right: -400px;
		top: 300px;
		width: 600px;
		z-index: 1;
		fill: darken( #FCD953, 10% );

		@include from( 800 ) {
			top: 200px;
			right: -300px;
			width: 700px;
		}

		@include from( 1050 ) {
			right: 0;
			top: 300px;
		}

		@include from( 1200 ) {
			right: 100px;
		}
	}

	&__bottomBlob {
		transform: rotateZ(180deg) rotateY(180deg);
		height: 300px;
	}

	&__outerContainer {
		background-color: #FCD953;
	}

	&__header {
		margin-bottom: 50px;
		position: relative;
		z-index: 1;
	}

	&__heading {
		color: #000000;
		position: relative;
		z-index: 1;
	}

	&__subheading {
		color: darken( #FCD953, 40% );
		position: relative;
		z-index: 1;
	}

	&__list {
		position: relative;
		z-index: 1;

		@include from( 650 ) {
			@include flex( $wrap: wrap, $justify: space-between );
		}
	}

	&__item {
		margin: 0 0 30px;

		@include from( 650 ) {
			width: calc( 100% / 2 - 40px );
		}

		&:last-child {
			width: 100%;
			margin: 0 auto;

			@include from(900) {
				width: 80%;
			}
		}
	}

	&__img {
		width: 80px;
	}

	&__title {
		text-transform: uppercase;
		font-size: 1.1rem;
		margin: 20px 0 10px;
		color: #000000;
	}

	&__description {
		color: darken( #FCD953, 40% );
	}

	&__more {
		position: relative;
		z-index: 1;
		margin-top: 30px;
		display: inline-block;
	}
}
