/*--------------------------------------------------------------
-- Front page languages --
--------------------------------------------------------------*/

.front-page-languages {
	margin-top: 85px;

	&__header {
		margin-bottom: 75px;
	}

	&__container {
		position: relative;
	}

	&__item {
		margin: 0 auto 50px;
		max-width: 630px;
		text-align: center;

		@include from( 700 ) {
			@include flex( $wrap: wrap, $align: center );
			margin-bottom: 75px;
			text-align: left;

			&:nth-child(even) {
				flex-direction: row-reverse;
			}

			.front-page-languages__contentContainer {
				padding-left: 50px;
				padding-right: 50px;
			}

			&:nth-child(even) {
				.front-page-languages__contentContainer {
					padding-right: 50px;
					padding-left: 50px;
				}
			}
		}

		@include from( 1000 ) {
			max-width: 850px;

			.front-page-languages__contentContainer {
				padding-right: 150px;
			}

			&:nth-child(even) {
				.front-page-languages__contentContainer {
					padding-left: 150px;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__imageContainer {
		margin-bottom: 30px;

		@include from( 700 ) {
			margin-bottom: 0;
		}
	}

	&__image {
		width: 150px;

		@include from( 700 ) {
			width: 200px;
		}
	}

	&__contentContainer {
		@include from( 700 ) {
			width: calc( 100% - 200px );
		}
	}

	&__title {
		font-size: 1.7rem;
		line-height: 1.2;
		font-weight: 600;
		margin: 0 0 13px;
		padding-bottom: 15px;
		position: relative;
		text-transform: uppercase;

		&:after {
			content: '';
			@include bottom_center();
			width: 15px;
			height: 2px;
			border-bottom: 4px dotted $theme_color;

			@include from( 700 ) {
				left: 0;
				transform: none;
			}
		}

		span {
			display: block;
			color: #979797;
			font-size: 0.6em;
		}
	}

	&__description {
		margin: 0;
		line-height: 1.6;
		position: relative;
	}
}
