/*--------------------------------------------------------------
-- Front Page Testimonials --
--------------------------------------------------------------*/

.front-page-testimonials {
	text-align: center;
	position: relative;
	overflow: hidden;

	@include from( 800 ) {
		padding-bottom: 50px;
	}

	@include from( 900 ) {
		padding-bottom: 250px;
	}

	@include from( 1050 ) {
		padding-bottom: 300px;
	}

	&__container {
		position: relative;
	}

	&__blob {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		z-index: -1;
		width: 1000px;
		fill: $light_background;
	}

	&__header {
		margin-bottom: 50px;
	}

	&__heading {
		color: $heading_color;
	}

	&__itemsContainer {
		max-width: 700px;
		padding: 50px 30px;
		margin: 0 auto;
		background-color: #ffffff;
		border-radius: 5px;

		@include from( 600 ) {
			padding: 50px;
		}
	}

	&__item {
		padding: 0 10px;

		@include from( 600 ) {
			padding: 0 30px;
		}
	}

	&__imgContainer {
		width: 100px;
		height: 100px;
		border-radius: 999px;
		overflow: hidden;
		margin: 0 auto;
		border: 2px solid #fcd955;

		@include from( 800 ) {
			width: 200px;
			height: 200px;
			border-width: 5px;
		}		
	}

	&__quote {
		font-style: italic;
		margin: 23px 0 0;
		font-size: 1rem;

		@include from( 600 ) {
			font-size: 1.1rem;
		}

		&:before {
			content: '" ';
		}

		&:after {
			content: ' "';
		}
	}

	&__name {
		font-size: 0.85rem;
		text-decoration: underline;
		margin: 22px 0 2px;
		position: relative;
		font-weight: 500;
	}

	&__job {
		margin: 0 0 -2px;
		text-transform: uppercase;
		font-size: 0.75rem;
	}

	.owl-dots {
		margin-top: 26px;
		@include flex( $wrap: wrap, $justify: center );
	}

	.owl-dot {
		width: 10px;
		height: 10px;
		padding: 0;
		margin: 0 3px;

		&.active {
			width: 20px;
		}
	}
}
