/*--------------------------------------------------------------
-- CSS Variables --
--------------------------------------------------------------*/

$font_family_awesome       : 'Font Awesome 5 Free';
$font_family_awesome_brands: 'Font Awesome 5 Brands';
$heading_font_family       : 'Work Sans', sans-serif;
$content_font_family       : 'Work Sans', sans-serif;
$narrow_content_width      : 850px;
$max_width                 : 1100px;

$transition_duration: 0.5s;

$theme_color               : #C95563;
$second_theme_color        : #5D6EB4;
$light_background          : #f3f7fb;
$dark_background           : #1a2a6b;
$color_for_light_background: #23538D;
$color_for_dark_background : #ffffff;
$heading_color             : #323232;
$text_color                : #707070;
