/*--------------------------------------------------------------
-- Global ( Styles that are the same for many elements ) --
--------------------------------------------------------------*/

// Front page headings
.front-page-languages__header,
.front-page-about__header,
.front-page-testimonials__header {
	text-align: center;
}

.front-page-languages__heading,
.front-page-about__heading,
.front-page-testimonials__heading {
	margin: 0 0 20px;
	font-size: 2.5rem;
	line-height: 1.1;
	color: $second_theme_color;
}

.front-page-languages__subheading,
.front-page-about__subheading,
.front-page-testimonials__subheading {
	margin: 0;
	font-size: 1.1rem;
	max-width: 600px;
	margin: 0 auto;
}

// Button.
button,
input[type='reset'],
input[type='submit'],
[class*='--button'] {
	border: none;
	margin: 0;
	border-radius: 5px;
	padding: 14px 20px;
	text-align: center;
	font: normal 600 0.85rem $content_font_family;
	overflow: visible;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: $transition_duration;
	color: #ffffff;
	background-color: darken( $theme_color, 10% );

	@include hover() {
		color: #ffffff;
		background-color: darken( $theme_color, 20% );
	}
}

// List.
[class*='--unstyled'] {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Wrapper.
.wrapper,
[class*='--wrapper'] {
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
	padding-left: 20px;
	padding-right: 20px;
}

// State.
[class*='--is-hidden'] {
	@include hidden();
}

[class*='--is-visible'] {
	@include visible();
}

// Clearing.
[class*='--cleared'] {
	&:after {
		content: '';
		display: table;
		table-layout: fixed;
		clear: both;
	}
}
