/*--------------------------------------------------------------
-- Normalize --
--------------------------------------------------------------*/

// Html.
html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font: normal 400 16px $content_font_family;
	line-height: 1.6;
	scroll-behavior: smooth;

	*,
	*:before,
	*:after {
		box-sizing: inherit;
		font-family: inherit;
	}

	*:before,
	*:after {
		pointer-events: none;
	}
}

// Body.
body {
	margin: 0;
	color: $text_color;
	overflow-x: hidden;
}

// Headings.
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
	color: $heading_color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading_font_family;
	margin: 15px 0;
	word-wrap: break-word;
}

h1 {
	line-height: var( --h-1-line-height, 1.3 );
	font-size: var( --h-1-font-size );
}

h2 {
	line-height: var( --h-2-line-height, 1.35 );
	font-size: var( --h-2-font-size );
}

h3 {
	line-height: var( --h-3-line-height, 1.4 );
	font-size: var( --h-3-font-size );
}

h4 {
	line-height: var( --h-4-line-height, 1.45 );
	font-size: var( --h-4-font-size );
}

h5 {
	line-height: var( --h-5-line-height, 1.45 );
	font-size: var( --h-5-font-size );
}

h6 {
	line-height: var( --h-6-line-height, 1.45 );
	font-size: var( --h-6-font-size );
}

// Paragraph.
p {
	margin: 20px 0;
}

// Links.
a {
	text-decoration: none;
	transition-duration: $transition_duration;
	color: var( --link-color );

	@include hover() {
		color: var( --link-hover-color );
	}
}

// Lists.
ul,
ol {
	margin: var( --list-margin );
	list-style: var( --list-style ) var( --list-style-position );
	padding: var( --list-padding );
}

ol {
	list-style: var( --order-list-style ) var( --list-style-position );
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: var( --nested-list-margin );
	padding: var( --nested-list-padding );
}

li {
	margin: var( --list-item-margin );
}

dd {
	margin: 1em;
}

// Images.
img {
	height: auto;
	max-width: 100%;
	border-style: none;
}

// Buttons.
button {
	&[type='button'],
	&[type='reset'],
	&[type='submit'] {
		-webkit-appearance: button;
	}

	&:-moz-focus-inner,
	&[type='button']::-moz-focus-inner,
	&[type='reset']::-moz-focus-inner,
	&[type='submit']::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&:-moz-focusring,
	&[type='button']:-moz-focusring,
	&[type='reset']:-moz-focusring,
	&[type='submit']:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

// Inputs & Forms.
form {
	max-width: 100%;
	width: 100%;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='search'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea,
select {
	outline: none;
	color: inherit;
	appearance: none;
	padding: 10px 15px;
	width: 100%;
	font-size: 1rem;
	font-weight: inherit;
	margin: 0;
	border-radius: 0;
	background-color: var( --body-background-very-light );
	border: 1px solid var( --body-background-light );
}

input[type='color'] {
	height: 46px;
}

input[type='range'] {
	border: none;
	padding: 20px 0;
}

input[type=range]::-webkit-slider-runnable-trac { border-color: transparent; }
input[type=range]::-webkit-slider-thumb { border-color: transparent; }
input[type=range]::-moz-range-track { border-color: transparent; }
input[type=range]::-moz-range-thumb { border-color: transparent; }
input[type=range]::-ms-trac { border-color: transparent; }
input[type=range]::-ms-thumb { border-color: transparent; }

input[type='range']:focus {
	outline: none;
}

@mixin track() {
	width: 100%;
	height: 6px;
	cursor: pointer;
	border: none;
	border-radius: 0;
}

input[type='range']::-webkit-slider-runnable-track {
	@include track();
}

input[type='range']::-moz-range-track {
	@include track();
}

input[type='range']::-ms-track {
	@include track();
}

@mixin thumb() {
	appearance: none;
	border-width: 1px;
	border-style: solid;
	height: 16px;
	width: 16px;
	border-radius: 0;
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
	@include thumb();
	margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
	@include thumb();
}

input[type=range]::-ms-thumb {
	@include thumb();
	margin-top: 0;
}

input[type='file'] {
	border-width: 1px;
	border-style: solid;
	padding: 10px 15px;
	width: 100%;
}

input[type='color'] {
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1px;
}

select {
	cursor: pointer;
	height: 45px;
	min-height: 45px;
	overflow-y: scroll;
	text-transform: none;
	max-width: 100%;
	background-image: linear-gradient(45deg, transparent 50%, var( --body-background-very-strong ) 50%), linear-gradient(135deg, var( --body-background-very-strong ) 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
	background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 16px) calc(1em + 5px), 100% 0;
	background-size: 4px 4px, 4px 4px, 2.5em 2.5em;
	background-repeat: no-repeat;
}

option {
	padding-bottom: 5px;

	&:last-child {
		padding-bottom: 0;
	}
}

textarea {
	width: 100%;
	resize: vertical;
	overflow: auto;
	color: inherit;
}

optgroup {
	font-size: 1rem;
	line-height: 1.15;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	color: inherit; 
	display: table; 
	max-width: 100%; 
	padding: 0; 
	white-space: normal;
}

[type='checkbox'],
[type='radio'] {
	padding: 0; 
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

 [type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button; 
	font: inherit; 
}

[hidden] {
	display: none;
}

// Tables.
table {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9rem;
	border-radius: 0;

	th, td {
		padding: 10px;
		font-weight: inherit;
	}
}

table, caption, thead, tbody, thead th, tbody td, tbody th {
	border: 1px solid var( --body-background-light );
}

// Blockquote.
blockquote {
	margin: 20px 0;
	z-index: 0;

	p {
		font-style: normal;
		margin: 0;
		line-height: 1.5;
		letter-spacing: 0.2px;
	}

	cite {
		font-size: 0.8rem;
		text-align: inherit;
		margin-top: 15px;
		font-style: normal;
	}
}

// Figure.
figure {
	margin: 20px 0;

	@include from( 600 ) {
		margin: 30px 0;
	}
}

// Iframe, Embed, Object
embed, iframe, object {
	max-width: 100%;
}

// Text elements.
dfn, em, i {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

pre {
	font-family: 'Courier 10 Pitch', Courier, monospace;
	font-size: 1rem;
	line-height: 1.6;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 100%;
	overflow: auto;
	padding: 20px 25px;
	background-color: var( --body-background-very-light );

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
	}
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 15px;
	font-size: 1em;
	margin-bottom: 1.5em;
}

abbr, acronym {
	border-width: 1px;
	border-bottom-style: dotted;
	cursor: help;
}

abbr[title] {
	border-bottom: none; 
	text-decoration: underline; 
	text-decoration: underline dotted;
}

mark, ins {
	background-color: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

// Address.
address {
	margin: 0 0 1.5em;
}

// Others.
hr {
	background-color: transparent;
	border: none;
	border-top: 1px solid var( --body-background-strong );
	margin: 30px 0;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	clear: both;
}

progress {
	vertical-align: baseline;
}

template {
	display: none;
}

details {
	display: block;
}

summary {
	display: list-item;
}
