/*--------------------------------------------------------------
-- Offer page template --
--------------------------------------------------------------*/

.offer {
	position: relative;
	text-align: center;
	margin-bottom: 50px;

	@include from(800) {
		@include flex( $align: center );
		padding: 30px;
		text-align: left;
	}

	@include from(1000) {
		max-width: 90%;
		padding: 50px;
	}

	&__titchImg,
	&__kidImg,
	&__teenagerImg,
	&__youngImg,
	&__adultImg,
	&__oldImg {
		display: none;

		@include from(800) {
			display: block;
		}
	}

	// Titch.
	&__contentContainer--titch {
		@include from(800) {
			width: calc( 100% - 220px );
			padding-left: 50px;
		}
	}

	&__titchImg {
		width: 220px;
		transform: rotate(-10deg);
	}

	// Kid.
	&--kid {
		margin-left: auto;
	}

	&__contentContainer--kid {
		@include from(800) {
			width: calc( 100% - 250px );
			padding-right: 50px;
		}
	}

	&__kidImg {
		width: 250px;
	}

	// Teenager.
	&__contentContainer--teenager {
		@include from(800) {
			width: calc( 100% - 400px + 250px );
			padding-left: 50px;
		}
	}

	&__teenagerImg {
		width: 400px;
		margin-left: -250px;
	}

	// Young.
	&--young {
		margin-left: auto;
	}

	&__contentContainer--young {
		@include from(800) {
			width: calc( 100% - 150px );
			padding-right: 50px;
		}
	}

	&__youngImg {
		width: 150px;
	}

	// Adult.
	&__contentContainer--adult {
		@include from(800) {
			width: calc( 100% - 200px );
			padding-left: 50px;
		}
	}

	&__adultImg {
		width: 200px;
	}

	// Old.
	&--old {
		@include from(800) {
			margin-left: auto;
		}

		@include from(900) {
			margin-bottom: 200px;
		}
	}

	&__contentContainer--old {
		@include from(800) {
			width: calc( 100% - 350px );
			padding-right: 50px;
		}
	}

	&__oldImg {
		width: 350px;
	}

	&__topBlob,
	&__middleBlob,
	&__bottomBlob {
		@include center_center();
		position: absolute;
		height: auto;
		z-index: -1;
		width: 950px;
		fill: $light_background;
		margin-top: -300px;
		margin-left: -400px;
	}

	&__middleBlob {
		margin-left: 400px;
	}

	&__heading {
		margin: 0 0 20px;
		text-transform: uppercase;
		font-size: 26px;
	}

	&__details {
		margin-bottom: 0;
		text-decoration: underline;
		color: #195daf;
	}
}
