/*--------------------------------------------------------------
-- Error 404 area --
--------------------------------------------------------------*/

.error-404 {
	@include flex( $align: center );
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: $dark_background;
	text-align: center;

	.admin-bar & {
		min-height: calc( 100vh - 46px );

		@include from( 783 ) {
			min-height: calc( 100vh - 32px );
		}
	}

	&__num-background {
		@include bottom_center( -160px );
		font-size: 500px;
		font-weight: bold;
		color: lighten( $dark_background, 2% );
		line-height: 1;
		pointer-events: none;

		@include from(600) {
			font-size: 800px;
		}
	}

	&__container {
		z-index: 1;
		max-width: 650px;

		.admin-bar & {
			margin-top: -15px;

			@include from( 783 ) {
				margin-top: -29px;
			}
		}
	}

	&__num {
		margin-top: -4px;
		display: block;
		font: normal 400 15px $content_font_family;
		letter-spacing: 3px;
		margin-bottom: 10px;
		color: #fcd952;
	}

	&__heading {
		margin: 0 auto 30px;
		padding-bottom: 27px;
		color: white;
		font: normal 700 35px $heading_font_family;
		position: relative;
		max-width: 550px;

		&:after {
			content: '';
			@include top_center( 100% );
			border-bottom: 4px dotted lighten( $dark_background, 20% );
			width: 20px;
		}

		@include from( 600 ) {
			font-size: 55px;
			margin-bottom: 43px;
			padding-bottom: 37px;
		}
	}

	&__content {
		position: relative;
		margin: 10px 0 -5px;
		color: lighten( $dark_background, 50% );
		
		@include from( 600 ) {
			font-size: 19px;
		}
	}

	&__content-link {
		color: #ffffff;
		text-decoration: underline;

		&:hover {
			color: #fcd952;
		}
	}
}
