/*--------------------------------------------------------------
-- Content area --
--------------------------------------------------------------*/

.site-area {
	overflow: hidden;
}

.content-area {
	.front-page & {
		max-width: 100%;
		padding: 0;
	}

	.error404 &,
	.search-results &,
	.search-no-results & {
		max-width: calc( #{$narrow_content_width} - 150px );
	}
}
