/*--------------------------------------------------------------
-- Page header area --
--------------------------------------------------------------*/

.page-header {
	width: 100%;
	text-align: center;
	margin: 60px 0;

	@include from(1000) {
		margin-bottom: 20px;
	}

	&__header {
		position: relative;
		padding-bottom: 35px;

		&:after {
			content: '';
			@include bottom_center();
			border-bottom: 4px dotted $theme_color;
			width: 25px;
		}
	}

	&__heading {
		margin: 0 0 15px;
		font-size: 45px;
	}

	&__subheading {
		margin: 0;
		font-size: 18px;
	}
}
